body {
    margin: 0;
    background-color: whitesmoke;
}

    /* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: black;
}

.headerHomeImg {
    position: fixed;
    float: left;
    width: 70px;
    height: 70px;
    margin-left: 5px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.headerTopNav, .headerBottomNav {
    height: 38px;
    margin-left: 50px;
    padding-left: 35px;
}

.headerTopNav{
    display: grid;
    grid-template-columns: auto 30%;
    margin-bottom: 4px;
    background-image: linear-gradient( white, silver);
}

.headerBottomNav {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 4px;
    background-image: linear-gradient( silver, white);
}

.accountLink {
    display: flex;
    align-items: center;
}

header h6 {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}

.storeCartBox {
    display: grid;
    grid-template-columns: 50% 50%;
}

.headerIconLink {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Header icon hover animaions */
.headerBtn:hover, #searchBtn:hover {
    animation-name: HeaderIconHover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes headerIconHover {
    100% {
        color: gold;
    }
}

/* Header anchor hover animations */ 
header a  {
    color: currentColor;
    text-decoration: none;
}

header a:hover {
    animation-name: headerAHover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes headerAHover {
    100% {
        color: gold;
    }
}

    /* Main content of the page */
main {
    margin: 100px 10% 50px 10%;
    text-align: center;
}

    /* Footer */
footer {
    width: 100%;
    background-color: hsl( 0, 0%, 75%);
    padding: 50px 0 150px 0;
}

.footerIconBox {
    display: flex;
    justify-content: center;
}

/* Footer icons */
.footerIcons {
    display: grid;
    height: 50px;
    grid-template-columns: 50px 50px 50px 50px;
    grid-gap: 10px;
}

/* Social media icons */
.socialMediaIcon {
    width: 50px;
    height: auto;
}

/*  Testing class background color */
.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}
