body {
    margin: 0;
    background-color: lightgrey;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    text-transform: uppercase;
    background-color: grey;
    display: grid;
    grid-template-columns: auto 140px;
}

/* Left side of header */
#header_left {
    display: flex;
}

/* Home link */
#home_link {
    padding: 5px 10px 5px 20px;
    bottom: 0;
}

/* Search bar */
#search_bar{
    display: flex;
    align-items: center;
}

#search_input {
    font-size: 14pt;
    padding: 5px;
    width: 500px;
    border-radius: 25px;
}

#search_btn {
    width: 30px;
    height: 30px;
    border-color: transparent;
    border-radius: 50%;
    margin-left: -40px;
}

#search_icon {
    align-items: center;
}

/* Right side of header */
#header_right {
    display: flex;
}

/* Cart link */
#cart_link {
    display: flex;
    align-items: center;
    font-size: 15px;
}

/* Dropdown links hidden */
#dropdown_links {
    display: none;
}

/* Class for header buttons */
.header_btn {
    height: 62px;
    border-color: transparent;
    background-color: transparent;
}

/* Icon hover animaions */
i:hover {
    animation-name: icon_hover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes icon_hover {
    100% {
        color: white;
    }
}

/* Anchor hover animations */
a  {
    color: currentColor;
    text-decoration: none;
}

a:hover {
    animation-name: a_hover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes a_hover {
    100% {
        color: white;
    }
}

/* Main content of the page */
main {
    padding: 100px 50px;
    text-align: center;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 50px 0px 150px 0px;
    background-color: gray;
}

/* Footer Links */
#footer_links {
    width: 230px;
    height: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.footer_icon {
    width: 50px;
    height: 50px;
}

/* Class background color */
.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}
